@charset "UTF-8";

ul.nav {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: fixed;
}

li.main-nav {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 0;
	background: #fff;
	cursor: pointer;
	overflow: hidden;
}

a.nav-link {
	height: auto;
	width: 100%;
}

li.main-nav:not(.active):hover {
	transform: translate(0, -15px);
	transition: all .35s ease-out;
}

div.splash > .main-content > img {
	position: absolute;
	left: -1vh;
	bottom: -2vh;
	width: 50%;
	height: auto;
	overflow: hidden;
}

li.main-nav.active {
	flex: 11;
	cursor: default;
}

li.main-nav.active .section-title {
	flex: 1;
	background: #fff;
}

li.main-nav.active .section-content {
	flex: 10;
	transform: scaleX(1);
	transform: scaleY(1);
}

li.main-nav .section-title {
	flex: 1;
	display: flex;
	width: auto;
	margin: 0;
	margin-top: 10px;
	color: white;
	overflow: visible;
	z-index: 100;
	align-items: flex-end;
}

.section-title img {
	width: 100%;
	height: auto;
}

li.main-nav .section-content {
	flex: 9;
	display: flex;
	align-items: top;
	margin: 0;
	padding: 0;
	transition: all .25s .1s ease-out;
	overflow: auto;
	z-index: 80;
	justify-content: center;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

li.main-nav .section-content::-webkit-scrollbar {
	display: none;
}


.main-content {
	max-width: 538px;
	padding: 2.611111rem;
	width: 100%;
}

li.main-nav.active.header > .section-title {
	display: none;
}

li.main-nav:not(.active) .section-content {
	display: none;
}

.flex-social {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	align-content: center;
}

.flex-social-item {
	align-self: flex-start;
	flex-direction: row;
}

.main-content img {
	width: 100%;
	height: auto;
	max-width: 538px;
}

.image-container {
	justify-content: center; 
	display: flex;
}

.main-content.poetry-thumbnail img {
	cursor: pointer; 
	height: auto; 
	width: 30%; 
	border: 1px black solid;
	border-radius: 20px;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.main-content.poetry-thumbnail img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.neuro-thumbnail img {
	cursor: pointer; 
	height: 50px; 
	width: 50px; 
	padding-left: 10px;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.neuro-thumbnail img:hover {
    filter: grayscale(100%) sepia(100%);
    -webkit-filter: grayscale(100%) sepia(100%);
}

.social-thumbnail img {
	cursor: pointer; 
	height: 4rem; 
	width: 4rem; 
	padding: 0.15rem;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.social-thumbnail img:hover {
    filter: grayscale(100%) sepia(100%);
    -webkit-filter: grayscale(100%) sepia(100%);
}

.frame-wrap {
    height: 300px;
    max-width: 538px;
	width: 100%;
    background-image: url("../images/computer.png");
  	background-position: center center;
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	overflow: hidden;
  	justify-content: center; 
}

iframe {
	height: 785px;
	max-width: 2000px;
	width: 355%;
	border: 0px solid;
	border-radius: 40px;
	position: relative;
	top: 15px;
	left: 2%;
	overflow: hidden;

	transform: scale(0.27);
	-ms-zoom: 0.27; 

	-ms-transform: scale(0.27);
    -moz-transform: scale(0.27);
    -o-transform: scale(0.27);
    -webkit-transform: scale(0.27);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

@media screen and (max-width: 850px) {

	html,
	.root {
		font-size: 0.72222222em;
	}

	h1,
	.h1 {
		letter-spacing: -0.1rem;
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
	}

	.mobile-hidden {
		visibility: hidden;
	}
}

@media screen and (orientation: landscape) and (max-width: 538px) {
	
	li.main-nav.active > div.section-content > .main-content {
		padding-top: 1.5rem;
	}

	h1,
	.h1 {
		font-size: 2.6111111rem;
		line-height: 3.2222222rem;
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
	}

	.btn-hover-buy {
		max-width: 88px;
	}

	.gallery-title {
		width: 8%
	}

	.side-banner {
		width: 8vw;
	}

	.gallery-section {
		padding-left: 8vw;
	}
}


@media only screen and (orientation: portrait) {

	html,
	.root {
		font-size: 0.6em;
	}

	h1,
	.h1 {
		font-size: 2rem;
		letter-spacing: -0.1rem;
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
	}

	.neuro-thumbnail img {
		cursor: pointer; 
		height: 30px; 
		width: 30px; 
		padding-left: 10px;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

	.frame-wrap {
		height: 185px;
		max-width: 538px;
		width: 100%;
		background-image: url("../images/computer.png");
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		overflow: hidden;
		justify-content: center; 
	}

	iframe {
		height: 680px;
		max-width: 1850px;
		width: 504%;
		border: 0px solid;
		border-radius: 40px;
		position: relative;
		top: 9.5px;
		left: 2%;
		overflow: hidden;

		transform: scale(0.19);
		-ms-zoom: 0.19; 

		-ms-transform: scale(0.19);
		-moz-transform: scale(0.19);
		-o-transform: scale(0.19);
		-webkit-transform: scale(0.19);

		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

}
